SECRET_KEY=change-this-to-a-long-random-secret-key-min-32-chars
ACCESS_TOKEN_EXPIRE_SECONDS=3600
DATABASE_URL=sqlite:///./emr_keperawatan.db
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-120b:free
OPENROUTER_MODELS=openai/gpt-oss-120b:free,openai/gpt-oss-20b:free
OPENROUTER_TIMEOUT_SECONDS=8
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
ADMIN_FULL_NAME=Administrator
DISABLE_DEFAULT_ADMIN=false
FONNTE_TOKEN=
FONNTE_API_URL=https://api.fonnte.com/send
